<div class="jumbotron">
  
<p>
  <%= image_tag(@user.try(:picture) , style: " width: 200px;  border-radius: 25px; float:right;")  %>
</p>
  <h1> <%= @user.name %></h1>
<p>
  <strong>Email:</strong>
  <%= @user.try(:email) %>
</p>


<p>
  <strong>Birthdate:</strong>
  <%= @user.try(:birthdate) %>
</p>

<p>
  <strong>Gender:</strong>
  <% if @user.try(:gender) == true %>
  Male
  <% else %>
  Female
  <% end %>
</p>

<% if @user.try(:id ) == current_user.try(:id) %>

    <%= link_to 'Edit', edit_user_path(@user) ,class: "btn btn-danger btn-lg homebuttons" %> 
    <%= link_to 'Back', users_path  ,class: "btn btn-danger btn-lg homebuttons" %>

<% end %>

</div>



